.title-header {padding: .75rem 1.25rem; background-color: #f5f5f5; border-bottom: 1px solid transparent;}
.title-header h3 {font-size: 1.3rem; margin: 0;}
.img-card {width: 100%; margin-bottom: .40rem;}